<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pfl.module_user">

    <application>
        <activity
            android:name=".ModuleUserLoginActivity"
            android:label="@string/module_user_login" />
        <activity
            android:name=".ModuleUserRegistActivity"
            android:label="@string/module_user_regist" />
    </application>

</manifest>