<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pfl.module_user">

    <application>
        <activity
            android:name=".activity.ModuleUserLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_login" />
        <activity
            android:name=".activity.ModuleUserRegistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_regist" />
        <activity
            android:name=".activity.ModuleUserSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_setting" />
        <activity
            android:name=".activity.ModuleUserAccountInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_account_info" />
        <activity
            android:name=".activity.ModuleUserUpdatePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_update_password" />
        <activity android:name=".activity.ModuleUserTestActivity"></activity>
    </application>

</manifest>